<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/BlueChip</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">1234</property>
    <property name="connection.pool_size">10</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping class="com.rvp.entity.BranchInfo"/>
    <mapping class="com.rvp.entity.Branches"/>
    <mapping class="com.rvp.entity.Claim"/>
    <mapping class="com.rvp.entity.Customer"/>
    <mapping class="com.rvp.entity.CustomerDetails"/>
    <mapping class="com.rvp.entity.Insurance"/>
    <mapping class="com.rvp.entity.InsuranceDetail"/>
    <mapping class="com.rvp.entity.InsuranceApplicationDetails"/>
    <mapping class="com.rvp.entity.MutualFund"/>
    <mapping class="com.rvp.entity.MutualFundDetail"/>
    <mapping class="com.rvp.entity.MutualFundApplicationDetails"/>
    <mapping class="com.rvp.entity.ProductDetail"/>
    <mapping class="com.rvp.entity.Staff"/>
    <mapping class="com.rvp.entity.StaffInfo"/>
    <mapping class="com.rvp.entity.Users"/>
    <mapping class="com.rvp.entity.UserInfo"/>
  </session-factory>
</hibernate-configuration>
