/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.error{
    -fx-background-color: red,linear-gradient(to bottom, derive(red,60%) 5%,derive(red,90%) 40%);
}

.promptTextError{
    -fx-prompt-text-fill:red;
}
