#pane{
    -fx-background-image: url("bg.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}


#text-field:focused {
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
}